/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLES */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
}

.right-content {
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: cover;
}

.logo {
    width: 65%;
    margin: 65px auto 0;
}

.main-content {
    width: 65%;
    margin: 0 auto;
    height: 70%;
}

.title {
    text-transform: uppercase;
    margin-top: 130px;
    font-size: 50px;
    letter-spacing: .3em;
    font-weight: 600;
    color: #413a3a;
    line-height: 1.1;
    margin-bottom: 25px;
}

span {
    font-weight: 300;
    color: #ce9797;
}

.description {
    color: #ce9797;
    font-size: 17px;
    line-height: 1.4;
    font-weight: 400;
    width: 80%;
    margin: 25px 0;
}

form {
    display: flex;
    border: 1px solid #d8ccce;
    border-radius: 50px;
    width: 80%;
    height: 60px;
    justify-content: flex-end;
}

.email-box {
    position: relative;
    width: 80%;
}

label {
    font-size: 17px;
    font-weight: 400;
    color: #ce9797;
    position: absolute;
    top: 22px;
    left: 30px;
}

input[type="email"] {
    width: 80%;
    border: none;
    outline: none;
    padding: 20px 50px 20px 30px;
    background: transparent;
}

input[type="email"]:focus {
    outline: none;
}

input[type="email"]:focus + label {
    opacity: 0;
}

input[type="email"]:required:valid {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 330px 18px;
  }

input[type="email"]:valid + label {
    opacity: 0;
}

input[type="email"]:focus:invalid {
    background: url("images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 330px 16px;
}

:not(output):-moz-ui-invalid {
    box-shadow: none;
  }

input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label {
    opacity: 0;
}

input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .requirements {
    max-height: 50px;
    padding: 5px 50px 0 30px;
    font-size: 15px;
}

.requirements {
    padding: 15px 50px 0 30px;
    color: #dc9f9e;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    width: 100%;
  }

.btn {
    border: none;
    width: 22%;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 6px 16px 8px rgba(220,159,158,0.23);
}

.btn:hover {
    background: linear-gradient(135deg, #FADADB 0%, #F8C8C8 100%);
    box-shadow: 0px 12px 15px 3px rgba(232,193,194,0.57)
}

.attribution {
    padding-top: 20px;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: #f96262;
}



/* Mobile */

@media screen and (max-width: 376px) {
    .container {
        flex-direction: column;
    }
    .main-content {
        width: 80%;
    }
.logo {
    margin: 20px 0 20px 25px;
}
    .logo a img {
        width: 120px;
    }
.title {
    margin-top: 50px;
    font-size: 35px;
    letter-spacing: .2em;
    text-align: center;
    margin-bottom: 15px;
}
.description {
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin: 0;
}

form {
    margin-top: 15px;
    width: 100%;
    height: 40px;
}

input[type="email"] {
    height: 0;
}

label {
    font-size: 15px;
    top: 14px;
}

.attribution {
    padding-top: 30px;
    font-size: 15px;
}
    .left-content {
        display: none;
    }
}

@media screen and (min-width: 377px) {
    .mobile-img {
        display: none;
    }
}